{% extends 'music/base.html' %}
{% block title %}Add a New Album{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row pt-3">

        <div class="col-sm-12 col-md-7">
            <div class="card card-default">
                <div class="card-body">
                    <h2>Add a New Album</h2>
                    <form class="form" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'music/form_template.html' %}
                        <div class="form-group">
                            <div>
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}