body{
	background: white url("images/back.jpg");
}

.navbar{
	border-radius: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.navbar-brand{
	font-family: 'Pacifico', cursive;
	font-size: 30px;
}

.nav-pills .nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0;
}

.active {
  background: blue;
}

.card-img-top{
	width: 100%;
    height: 20vw;
    object-fit: cover;
}

.navbar a:hover{
	color: white;
	text-decoration: none;
}